<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FischersPlayground">
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.game.GameActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
  
        </activity>
        <activity
            android:name=".activities.game.MultiplayerGameActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.game.SinglePlayerGameActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.game.PractiseGameActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activities.CrashReportActivity" />
        <activity android:name=".activities.game.OpeningMenuActivity" />
        <activity android:name=".activities.game.CreateOpeningActivity" />
        <activity
            android:name="com.mjaruijs.fischersplayground.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5541201046009046~4593561256" />

        <service
            android:name=".services.FirebaseService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

</manifest>